# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
generated_plugin_registrant.dart

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.iml
*.apk
*.aar
*.jks

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/build/
ios/DerivedData/
*.xcuserstate

# Xcode
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/build/
*.xcworkspace
*.xcuserstate

# Web
build/web/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# IntelliJ related
.idea/
*.iml

# VS Code
.vscode/

# Others
.env
*.log
*.tmp
